@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero section Blur box */
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 45vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  /* background: #212121; */
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  border-left: 2px solid #f81a06;
  border-right: 2px solid #06f806;
  transition: border-color 0.3s ease;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 30px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: #0974f1;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  border-left-color: #06f806;
  border-right-color: #f81a06;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}

/* Hero Section Blur BOx Search box */

/* From Uiverse.io by cohencoo */
/* .inputs {
    border-radius: 10px;
    outline: 2px solid #FEBF00;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
  }
  
  .inputs:focus {
    outline-offset: 5px;
    background-color: #fff
  } */

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 90vw;
}

.inputbox {
  width: 100vw;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #eff2f5;
  color: #0e97e7;
  transition: 0.3s ease;
  box-shadow: 0 0 0 2px rgba(245, 11, 3, 0.6); /* glow border */
}

.inputbox::placeholder {
  color: #9e9ea7;
}

.inputbox:focus,
.inputbox:hover {
  outline: none;
  border-color: rgba(247, 127, 0, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

/* Second chamkila Search box */

.galaxy {
  height: 800px;
  width: 800px;
  background-image: radial-gradient(#ffffff 1px, transparent 1px),
    radial-gradient(#ffffff 1px, transparent 1px);
  background-size: 45px 50px;
  background-position: 0 0, 25px 25px;
  position: absolute;
  z-index: -1;
  animation: twinkle 5s infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.stardust,
.cosmic-ring,
.starfield,
.nebula {
  max-height: 70px;
  max-width: 414px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  border-radius: 12px;
  filter: blur(3px);
}

.input {
  background-color: #05071b;
  border: none;
  width: 405px;
  height: 56px;
  border-radius: 10px;
  color: #a9c7ff;
  padding-inline: 59px;
  font-size: 18px;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input::placeholder {
  color: #13c1e8;
}

.input:focus {
  outline: none;
}

#main:focus-within > #input-mask {
  display: none;
}

#input-mask {
  pointer-events: none;
  width: 100px;
  height: 20px;
  position: absolute;
  background: linear-gradient(90deg, transparent, #05071b);
  top: 18px;
  left: 220px;
}

#cosmic-glow {
  pointer-events: none;
  width: 30px;
  height: 20px;
  position: absolute;
  background: #4d6dff;
  top: 10px;
  left: 5px;
  filter: blur(20px);
  opacity: 0.8;
  transition: all 2s;
}

#main:hover > #cosmic-glow {
  opacity: 0;
}

.stardust {
  max-height: 63px;
  max-width: 407px;
  border-radius: 10px;
  filter: blur(2px);
}

.stardust::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(83deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.4);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0) 0%,
    #4d6dff,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0) 50%,
    #6e8cff,
    rgba(0, 0, 0, 0) 58%
  );
  transition: all 2s;
}

.cosmic-ring {
  max-height: 59px;
  max-width: 403px;
  border-radius: 11px;
  filter: blur(0.5px);
}

.cosmic-ring::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(70deg);
  position: absolute;
  width: 700px;
  height: 600px;
  filter: brightness(1.3);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    #05071b,
    #4d6dff 5%,
    #05071b 14%,
    #05071b 50%,
    #6e8cff 60%,
    #05071b 64%
  );
  transition: all 2s;
}

.starfield {
  max-height: 65px;
  max-width: 312px;
}

.starfield::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(82deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #1c2452,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 50%,
    #2a3875,
    rgba(0, 0, 0, 0) 60%
  );
  transition: all 2s;
}

#search-container:hover > .starfield::before {
  transform: translate(-50%, -50%) rotate(-98deg);
}

#search-container:hover > .nebula::before {
  transform: translate(-50%, -50%) rotate(-120deg);
}

#search-container:hover > .stardust::before {
  transform: translate(-50%, -50%) rotate(-97deg);
}

#search-container:hover > .cosmic-ring::before {
  transform: translate(-50%, -50%) rotate(-110deg);
}

#search-container:focus-within > .starfield::before {
  transform: translate(-50%, -50%) rotate(442deg);
  transition: all 4s;
}

#search-container:focus-within > .nebula::before {
  transform: translate(-50%, -50%) rotate(420deg);
  transition: all 4s;
}

#search-container:focus-within > .stardust::before {
  transform: translate(-50%, -50%) rotate(443deg);
  transition: all 4s;
}

#search-container:focus-within > .cosmic-ring::before {
  transform: translate(-50%, -50%) rotate(430deg);
  transition: all 4s;
}

.nebula {
  overflow: hidden;
  filter: blur(30px);
  opacity: 0.4;
  max-height: 130px;
  max-width: 354px;
}

.nebula:before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  position: absolute;
  width: 999px;
  height: 999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    #000,
    #4d6dff 5%,
    #000 38%,
    #000 50%,
    #6e8cff 60%,
    #000 87%
  );
  transition: all 2s;
}

#wormhole-icon {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  max-height: 40px;
  max-width: 38px;
  height: 100%;
  width: 100%;
  isolation: isolate;
  overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(180deg, #1c2452, #05071b, #2a3875);
  border: 1px solid transparent;
}

.wormhole-border {
  height: 42px;
  width: 40px;
  position: absolute;
  overflow: hidden;
  top: 7px;
  right: 7px;
  border-radius: 10px;
}

.wormhole-border::before {
  content: "";
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.35);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #4d6dff,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 50%,
    #6e8cff,
    rgba(0, 0, 0, 0) 100%
  );
  animation: rotate 4s linear infinite;
}

#main {
  position: relative;
}

#search-icon {
  position: absolute;
  left: 20px;
  top: 15px;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(450deg);
  }
}

/* MarketCap Small  Graph box  */

.dingdong {
  position: absolute;
  top: 20vh;
  left: 5vw;
  width: 90vw;
  height: 15vh;
  background-color: #e5e5e5; /* bg-zinc-100 */
  border: 2px solid transparent; /* Make border transparent */
  border-radius: 1rem; /* rounded-lg */
  box-shadow: 0 0 10px #fcfcfc;
  
}

.dingdong:hover {
  animation: animate-border 2s linear infinite;
}

@keyframes animate-border {
  0% {
    border-top: 4px solid #f10303; /* Start with top border */
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  25% {
    border-top: 4px solid transparent;
    border-right: 4px solid #d1f406; /* Move to right border */
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  50% {
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #5306f8; /* Move to bottom border */
    border-left: 4px solid transparent;
  }
  75% {
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #f208ee; /* Move to left border */
  }
  100% {
    border-top: 4px solid #f10303; /* Back to top border */
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}

/* 24hr Trading volume small graph box */

.dingdongtrading {
  position: absolute;
  top: 40vh;
  left: 5vw;
  width: 90vw;
  height: 15vh;
  background-color: #e5e5e5; /* bg-zinc-100 */
  border: 2px solid transparent; /* Make border transparent */
  border-radius: 1rem; /* rounded-lg */
  box-shadow: 0 0 10px #f7f9f9;
}

.dingdongtrading:hover {
  animation: animate-border-trading 2s linear infinite;
}

@keyframes animate-border-trading {
  0% {
    border-top: 4px solid #f10303; /* Start with top border */
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  25% {
    border-top: 4px solid transparent;
    border-right: 4px solid #d1f406; /* Move to right border */
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  50% {
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #5306f8; /* Move to bottom border */
    border-left: 4px solid transparent;
  }
  75% {
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #f208ee; /* Move to left border */
  }
  100% {
    border-top: 4px solid #f10303; /* Back to top border */
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}


.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    color: #64f89a; /* light green */
  }
  50% {
    color: #2E865F; /* dark green */
  }
  100% {
    color: #13fb68; /* light green */
  }
}